In [2]:
import pandas as pd

# Get data

In [3]:
df = pd.read_excel('20250808_yoyo_intermittent_recovery_level_1.xlsx')
df.head(5)

                       naam  speed_level  shuttle  speed  distance
0  Biswese Pumbulu Erik-Jan           18        1   16.5      1760
1          Bolou Benedition           14        2   14.5       520
2          Bruyninckx Ylano            0        0    0.0         0
3             De Byser Noah            0        0    0.0         0
4              De Cock Luis            0        0    0.0         0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   naam         36 non-null     object
 1   speed_level  36 non-null     int64
 2   shuttle      36 non-null     int64
 3   speed        36 non-null     float64
 4   distance     36 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB

# Transform data

In [8]:
# Calculate VO2max
df['vo2max'] = df['distance'] * 0.0084 + 36.4
df.head(5)

,naam,speed_level,shuttle,speed,distance,vo2max,rating
0,Biswese Pumbulu Erik-Jan,18,1,16.5,1760,51.184,Good
1,Bolou Benedition,14,2,14.5,520,40.768,Poor
2,Bruyninckx Ylano,0,0,0.0,0,36.400,Poor
3,De Byser Noah,0,0,0.0,0,36.400,Poor
4,De Cock Luis,0,0,0.0,0,36.400,Poor

In [9]:
# Set rating
def set_rating(distance):
    if distance > 2400:
        return "Elite"
    elif distance > 2000:
        return "Excellent"
    elif distance > 1520:
        return "Good"
    elif distance > 1040:
        return "Average"
    elif distance > 520:
        return "Below Average"
    else:
        return "Poor"

df['rating'] = df['distance'].apply(set_rating)
df.head(5)

,naam,speed_level,shuttle,speed,distance,vo2max,rating
0,Biswese Pumbulu Erik-Jan,18,1,16.5,1760,51.184,Good
1,Bolou Benedition,14,2,14.5,520,40.768,Poor
2,Bruyninckx Ylano,0,0,0.0,0,36.400,Poor
3,De Byser Noah,0,0,0.0,0,36.400,Poor
4,De Cock Luis,0,0,0.0,0,36.400,Poor