In [1]:
import pandas as pd

# Get data

In [7]:
df = pd.read_excel('20250808_yoyo_intermittent_recovery_level_1.xlsx')
df.head(5)

                       naam  speed_level  shuttle  speed  distance
0  Biswese Pumbulu Erik-Jan           18        1   16.5      1760
1          Bolou Benedition           14        2   14.5       480
2          Bruyninckx Ylano            0        0    0.0         0
3             De Byser Noah            0        0    0.0         0
4              De Cock Luis            0        0    0.0         0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   naam         36 non-null     object
 1   speed_level  36 non-null     int64
 2   shuttle      36 non-null     int64
 3   speed        36 non-null     float64
 4   distance     36 non-null     int64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB

# Transform data

In [11]:
df['vo2max'] = df['distance'].apply(lambda x: x * 0.0084 + 36.4)
df.head(50)

,naam,speed_level,shuttle,speed,distance,vo2max
0,Biswese Pumbulu Erik-Jan,18,1,16.5,1760,51.184
1,Bolou Benedition,14,2,14.5,480,40.432
2,Bruyninckx Ylano,0,0,0.0,0,36.400
3,De Byser Noah,0,0,0.0,0,36.400
4,De Cock Luis,0,0,0.0,0,36.400
5,De Ridder Seppe,20,7,17.5,2640,58.576
6,De Vriendt Senne,20,4,17.5,2520,57.568
7,Decuyper Seppe,21,2,18.0,2760,59.584
8,Dereez Artuur,23,8,19.0,3640,66.976
9,Frijns Mattias,19,2,17.0,2120,54.208
10,Gevaert Viktor,20,1,17.5,2400,56.560
11,Gheyssens Millo,21,3,18.0,2800,59.920
12,Gomes Jeremie,19,7,17.0,2320,55.888
13,Haba Kolie Michel,20,3,17.5,2480,57.232
14,Hadri Almir,19,8,17.0,2360,56.224
15,Henrique Spenceur,0,0,0.0,0,36.400
16,Kalubi Mutuwambuji Noah Jean-Pierre,18,1,16.5,1760,51.184
17,Katania Griseld,15,8,15.0,1080,45.472
18,Kimputu Efekele Nathan,17,4,16.0,1560,49.504
19,Lufuluabo Kabongo Nathan,0,0,0.0,0,36.400
20,Maes Emiel,20,3,17.5,2480,57.232
21,Maldundama Yoann,20,8,17.5,2680,58.912
22,Malundama Joshua,16,2,15.5,1200,46.480
23,Maudens Lean,0,0,0.0,0,36.400
24,Mervi Pedro,0,0,0.0,0,36.400
25,Neckebroeck Tibe,21,4,18.0,2840,60.256
26,Roelandt Rune,21,7,18.0,2960,61.264
27,Rooseleer Victor Prince,0,0,0.0,0,36.400
28,Schampheleer Leo,22,2,18.5,3080,62.272
29,Suma Bléart,0,0,0.0,0,36.400
30,Troch Viktor,19,7,17.0,2320,55.888
31,Uzurama Nelson,18,8,16.5,2040,53.536
32,Van Boxstael Ramirez,0,0,0.0,0,36.400
33,Van Boxstael Raphaél,18,3,16.5,1840,51.856
34,Van Hoof Alexander,19,1,17.0,2080,53.872
35,Ylian De Mol,18,4,16.5,1880,52.192